/* CSS declarations go here */
/* CSS declarations go here */
body {
  padding-top:120px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  display: block;
  font-family: cursive,"Helvetica", sans-serif;

}
.pull-right{

  padding-right:11px;
}
h4{
  font-size: 25px;
  text-shadow: 2px 0px 0px rgba(0,0,0,0.4);
    
}
h2{
  font-family: vendata;
  font-size: 30px;
  color:#000;
}

footer{
  font-size: 15px;
    background-color:#4f4f4f;;
    color: silver;
}

.well{
      background-color:#0075d1;
      color: #0075d1;
      font-size: 16px;
  }
     
.item{
  height: 500px;
}
.jumbotron{
    height: 500px;
     background-size: cover;
}
.thumbnail{
  background-color: #0075d1;
}
.paneli{
  color:silver;
  font-family: serif;
  font-size: 30px;
  background-color:  rgb(255, 255, 255);
  height: 200px;
  text-align: center;
  padding-right: 50px;
  padding-left: :20px;

}
.menu{
  font-size: 15px;

}

.navbar{
  color:#0075d1;
  background-image: url("")
}  
.carousel-caption{
  background-color: #0075d1;
  width: 1000px;
  height: 150px;
  opacity: 0.7;
    filter: alpha(opacity=50);
}